
#label{
  margin:1em; 
  padding:1em;
  display:inline-table;
}
p{
  margin:1em; 
  padding:1em;
}
#box{
 border:1px solid black;
}

table {
font-family: arial, sans-serif;
width: 100%;
}

td, th {
text-align: left;
padding: 8px;
 width:25%;
}
tr{
width:100%
}
#tokenarea{
display: flex;
}
.tokenareadiv{
width: 30%;

border: solid black 2px;
overflow: auto;
margin: 1%;
padding: 2%;
white-space:nowrap;

}

#tokenResponse{
font-family: Menlo, monospace;
width: 100%;

}
.json-key {
color:#a31515;
margin-left: 8px;
font-family: monospace;
}

.value {
color:#0451a5;
font-family: monospace;
}
#refreshToken{
white-space: normal;
word-break: break-all;
}